@charset "UTF-8";

.content
{
	margin: auto;
	padding: 10px;
	width: 67%;
}

@media screen and (max-width: 1300px) {
  .content
  {
    width: 84%;
  }
}

@media screen and (max-width: 975px) {
  .content
  {
    width: 100%;
  }
}